@page
@model SemesterProject.Pages.storyModel
@{
    ViewData["Title"] = "Our Story";
}


@*Simple site that shows a youtube video and shares the Businesses story*@
<h1>Our Story</h1>

<div class="containerStory">
    <div class="row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V5w1OGknhlc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="row">
        <div class="col-sm-6 align-content-center mx-auto">
            <div class="h6">
                Born in 1999...
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div class="h4">
                Baden always knew he wanted to make burgers. From experimenting with different spices, to frying anything edible, Baden wanted to make the best burgers out there.
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="h6">
                And now you can enjoy...
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div class="h4">Our location in Stillwater, OK offers a quick, easy, unique bite. Come on in and enjoy expiremental flavorful twists on traditional American comfort food.</div>
        </div>
    </div>
</div>